.strong {
	font-weight: 700;
}

.del {
	text-decoration: line-through;
}

.ins {
	text-decoration: underline;
}

.header { 
	text-align: center;
}

.header a {
	text-decoration: none;
	color: black;
}

html,
body {
	background: grey;
}
